*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --violet: #4e085f; 
    --white: #fff;
    --lila: #ca84db;
    --pink:#deaceb;
}
.d-none{
    display: none!important;
}
.bg-green{
    background-color: #98D8AA;
}
.bg-yellow{
    background-color: #F7D060;
}
.bg-red{
    background-color: #FF6D60;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--violet);
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    position: relative;
    
    align-items: center;
}
li{
    list-style: none;
}
header{
    padding: 2rem;
    & h1{
        color: var(--white);
    }
}
#listPrincipal{
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
}
#list{
    width: 90%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    flex-flow: row wrap;
    border-radius: 16px;
    padding: 2rem;
    & h2{
        width: 100%;
        text-align: center;
    }
}
.card{
    /* flex:1; */
    width: 250px;
    height: 150px;
    border: 1px solid #000;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    margin: 10px auto;
    position: relative;
    & img{
        width: 50px;
    }
    & button{
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        text-align: center;
        position: absolute;
        top: 2px;
        right: 2px;
        border: none;
        border-radius: 16px;
        background-color: transparent;
        cursor: pointer;
    }
    & button:nth-child(1){
        left:2px
    }
    & button:nth-child(1):hover{
        background-color: grey;
    }
    & button:hover{
        background-color: red;
        color: var(--white);
    }
}
.p-holder{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5rem;
    & p:nth-child(1){
        word-break: break-all;
    }
}
#popUp{
    width: 100%;
    min-height: 100%;
    position: absolute;
    backdrop-filter: blur(5px);
    z-index: 99;
    display: flex;
    justify-content: center;
}
#taskHolder{
    width: 300px;
    height: 200px;
    position: relative;
    background-color: var(--white);
    z-index: 100;
    border-radius: 1rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    margin-top: 40vh;
    & input{
        border-radius: 1rem;
        border: 1px solid black;
        padding: 0.5rem 1rem;
    }
    & button{
        background-color: transparent;
        border: 1px solid black;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
    & button:hover{
        background-color: var(--pink);
    }
}
#imgSelectHolder{
    display: flex;
    align-items: center;
    gap: 10px;
    & img{
        width: 50px;
    }
    & button{
        background-color: transparent;
        border: 1px solid black;
        border-radius: 1rem;
        padding: .5rem;
    }
}
#chocolateImg{
    width: 300px;
    height: 200px;
    background-color:  inherit;
    position: absolute;
    top: 110px;
    z-index: 101;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 1rem;
    & ul{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        justify-content: space-around;
        overflow: scroll;
    }
    & li{
        width: 60px;
        height: 60px;
        border: 1px solid black;
        border-radius: 1rem;
        padding: .5rem;
        margin: .5rem 0;
    }
    & img{
        width: 50px;
    }
}

#imgList::-webkit-scrollbar{
    width: 3px;
    height: 100%;
}
#imgList::-webkit-scrollbar-track{
    margin-block: .5rem;
}
#imgList::-webkit-scrollbar-thumb{
    background-color: rgb(75, 74, 74);
    border-radius: 10px;
}
#imgList::-webkit-scrollbar-thumb:hover{
    background-color: rgb(37, 37, 37);
}

#chocolateImg li:hover{
    background-color: var(--pink);
}

#timeSelectHolder{
    & label{
        font-size: 1.3rem;
    }
    & select{
        border-radius: 1rem;
        border: 1px solid black;
        padding: .5rem;
    }
}

#addTask{
    position: fixed;
    bottom: 25px;
    right: 20px;
    background-color: var(--lila);
    padding: 16px;
    border: none;
    border-radius: 32px;
    z-index: 1;
    cursor: pointer;
}
#addTask:hover{
    background-color: var(--pink);
}
footer{
    padding: 2rem;
    position: relative;
    bottom: 0;
    & p{
        font-size: 1.3rem;
        font-weight: bold;
        color: var(--white);
        & a{
            color: var(--white);
            text-decoration: none;
            cursor: pointer;
        }
        & a:hover{
            color: var(--lila);
        }
    }
}